.selected-skill {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-light-cyan);
  border-radius: .4rem;
  margin: 1.6rem 0 0 1.6rem;
}
.skill-text {
  color: var(--color-dark-cyan);
  padding: .4rem .8rem;
  font-size: 1.3rem;
  line-height: 2.4rem;
  letter-spacing: -.1px;
  font-weight: var(--weight-bold);
}
.remove-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-cyan);
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 0 .4rem .4rem 0;
  transition: var(--transition) background-color;
}
.selected-keyword:hover .remove-button {
  background-color: #2B3939;
}